<p align="center"
   style="color:gold;
          font-size:30px">
    Ankh-Morpork lies on the River Ankh (the most polluted waterway on the Discworld
    and reputedly solid enough to walk on), where the fertile loam of the Sto Plains
    meets the Circle Sea. This, naturally, puts it in an excellent trading position.
    The AM$ (Ankh-Morpork dollar) is equal to 100 pennies (pence).
    The central city divides more or less into Ankh (the posh part) and Morpork
    (the humble part, which includes the slum area known as "the Shades"), which are separated by the River Ankh.
    <br />
    <br />
</p>
<p align="center"
   style="background-color: red;
          font-size:30px">
    LET'S START EXPLORING THE CITY
</p>


<div>
    <button type="button"
            style="background-color: yellow; 
                   margin-left: 38%; 
                   margin-right: 50%; margin-top: 10%; width: 200px; height: 100px"
            onclick="location.href = '@Url.Action("Play", "Home")'">
        <p align="center"
           style=" font-size:30px">
            START
        </p>
    </button>
</div>
