@using WebApplication2.Models
@model WebApplication2.Models.MessageModels.ThievesMessageModel

@{
    ViewBag.Title = "Index";
}


<h2 style="color: gold">
    You have $ @Model.PlayerDollar and @Model.PlayerPenny penny
</h2>

<h2 style="color: gold">You Meet Thieves</h2>
<h2 style="color: gold">You were robbed the maximum number of times</h2>


<input name="aggre"
       type="button"
       style="background-color: gold"
       value="Continue"
       onclick="location.href = '@Url.Action("Play", "Player")'" />


<img src="../../Content/Images/Thieves.jpg" style="width: 400px; height: 600px;
                                                   margin-left: 70%; margin-right: 20%; margin-top: -15%">